@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600');

:root{
    --font: 'Poppins',sans-serif;
    --red:#ff7a7a ;
    --green:hwb(154 22% 20%) ;
    --Blue: hsl(248, 32%, 49%) ;
    --DarkBlue: hsl(249, 10%, 26%) ;
    --GrayishBlue: #b9b6d3; 
     font-size: 16px ;
}
@media screen and (min-width:375px){
    *{
        margin: 0;
        padding: 0;
        font-family: var(--font);
    }
    html,body{
        background: var(--red) url(../images/bg-intro-mobile.png);

    }
    main{
        padding: 30px;
        text-align: center;
    }
    .conteudo-escrito{
        display: flex;
        flex-direction: column;
        margin: 20px 0px 20px 0px ;
        gap:15px;
        color: white;
        text-align: center;
    }
    p{
        font-size: 13px;
    }
    .Formulario{
        margin-top: 60px;
        max-width: 334px;
        margin: auto;
    }
    .Aviso{
        text-align: center;
        background-color: var(--Blue);
        color: white;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 20px;
    }
    .Aviso > p > span{
        font-weight: 600;
    }
    form{
        display: flexbox;
        background-color: white;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
    }
    .cadastro{
        position: relative;
        padding: 0px;
        margin: 25px 10px;
        border: 1px solid var(--GrayishBlue);
        border-radius: 5px;
        margin-bottom: 10px;
    }
    input{
        width: 80%;
        padding: 10px;
        border: none;

        margin-left: -25px;

    }
    
    #error{
        position: absolute;
        top: 7px;
        display: none;
    }
    .error-msg{
        display: none;
        text-align: right;
        padding: 1px;
        width: 300px;
        top: 40px;
        left: -30px;
        color: var(--red);
        font-size: 11px;
        font-weight: 400;
        position: absolute;
    }
    .cadastro:focus-within{
        border: 1px solid var(--DarkBlue);
    }
    input:focus{
        box-shadow: 0 0 0 0;
        border: 0;
        outline: 0;
    }
    input[type='submit']{
        background-color: var(--green);
        width: 95%;
        border: 1px solid var(--green);
        margin-left: 1px;
        margin: 15px 0px;
        padding: 10px;
        border-radius: 5px;
        color: white;
        font-weight: 400;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.623);
        margin-bottom: 4px;
        box-shadow: 2px 3px 3px hsla(153, 22%, 20%, 0.479);
    }
    input[type='submit']:hover{
        background-color: hwb(154 18% 38%) ;
        box-shadow: none;
        transition: 0.3s;
    }
    form > p{
        margin-top: 25px;
        color: var(--GrayishBlue);
        font-size: 10px;
    }
    a{
        color: var(--red);
        font-weight: 600;
        text-decoration: none;
    }
}
@media screen and (min-width:1026px){
    html,body{
        background: var(--red) url(../images/bg-intro-desktop.png);
        

    }
    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .conteudo-escrito{
        justify-content: center;
        text-align: justify;
        width: 40%;
        padding: 0px 10px;
        margin-left: 10%;
        font-size: 24px;
    }
    .Formulario{
        width: 55%;
        max-width: 500px;
    }
    .error-msg{
        text-align: right;
        padding: 1px;
        width: 47%;
        top: 40px;
        left: 235px;
        color: var(--red);
        font-size: 11px;
        font-weight: 400;
        position: absolute;
    }
}